.App {
  display: flex;
  justify-content: center;
  align-items: center; /* Align items in the center vertically */
  min-height: 100vh;
  padding: 20px;
  background-color: #f4f5f7;
}

.board {
  display: flex;
  gap: 3px;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between; /* Ensure columns are covered all  the board */
  overflow: hidden;
  position: relative;
  
}

/* .Column{
  position: relative;
} */

.Task{
  position: absolute;
  /* top: 0;
  left: 0; */
  
}

